@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1625930222070') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lianxi:before {
  content: "\e649";
}

.icon-chaoshi:before {
  content: "\e68a";
}

.icon-tupian1:before {
  content: "\e626";
}

.icon-shipin:before {
  content: "\e6a8";
}

